@charset "UTF-8";

	body{
	 margin:0px;
	 /* width:100%; */
	 
	}

 	div#map{	
 	 height:100vh;
     width:80vw;
     float:right; 
     background-color:red;

	} 
	   
    #left{
     width:400px;
     height:100vh;
     /* background-color:#BEEFFF; */
     float: left;
     position: fixed;
     background-image : url("https://images.unsplash.com/photo-1604339454148-1c23f0b5d156?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2127&q=80");
   }
   
   #yourPlanner{
   
   margin-left : 10px;
   color : #3C3C8C;
   
   }
   
   #myBox{
   
   	 padding : 20px;
   	
   }
   
   #likes{
   
	text-align: center;
	width : 100px;
	margin-right : 40px;
   
   }
   
   #titleBox{
   
   display : flex;
   margin-bottom:10px;
   padding-bottom:10px;
   color : #50508C;
   
   }
   #tempSaveBtn{
   margin-left: 100px;
   margin-top : 22px;
   background : black;
   border-radius : 5px;
   border: none;
   font-size : 15px;
   color:white;
   }
   
   #dayPlanner{
   
   	margin : 20px;
   	margin-left : 10px;
   	padding : 10px;
   	width : 300px;
   	height : 700px;
/*    	border : 1px solid gray; */
   }

   #buttons{
    position : absolute;
   	left : 100px;
   	size : 100px;
   }
   
   #sortable{
   
   	margin-right:30px;
   
   }
   
   .box_drag{
   
   background-color:rgba(255, 255, 255, 0.7);
   height:30px;
/*    border : 1px solid black; */
   border-radius : 5px;
   margin-top: 3px;
   margin-bottom: 3px;
   
   }
   

	
	